p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    margin-bottom: 25px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 25px;
    object-fit: cover;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #434455;
    background-color: #60a9ff;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    background-color: #f8fcfffb;
    border-radius: 10px;
    width: 100%;
    max-width: 980px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
    max-width: 945px;
    padding: 0 15px;
}

.block-personal {
    border-right: 1px solid #e1f1ff;
    padding: 0 15px;
}

.block-small-team {
    border-right: 1px solid #e1f1ff;
    padding: 0 15px;
}

.block-enterprise {
    padding: 0 15px;
}

.header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-item {
    font-weight: 600;
    letter-spacing: 1px;
    size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}


.pricing-text {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-botton {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-flex;
    text-decoration: none;
    margin: 25px 40px;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 40px;
}

.pricing-botton:hover,
.pricing-botton:focus {
    background-color: #e1f1ff;
    transition: all 200ms ease-in-out;
}

html {
    height: 100%;
}